In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('data.csv')
data.head()

,angry0,angry1,box0,box1,disgust0,disgust1,fear0,fear1,happy0,happy1,neutral0,neutral1,sad0,sad1,surprise0,surprise1
0,0.09,NaN,"[269, 188, 154, 185]",NaN,0.0,NaN,0.04,NaN,0.40,NaN,0.13,NaN,0.16,NaN,0.17,NaN
1,0.10,NaN,"[270, 190, 152, 182]",NaN,0.0,NaN,0.04,NaN,0.43,NaN,0.12,NaN,0.13,NaN,0.18,NaN
2,0.07,NaN,"[257, 185, 156, 186]",NaN,0.0,NaN,0.01,NaN,0.83,NaN,0.04,NaN,0.03,NaN,0.02,NaN
3,0.04,NaN,"[257, 185, 157, 188]",NaN,0.0,NaN,0.01,NaN,0.89,NaN,0.03,NaN,0.01,NaN,0.02,NaN
4,0.03,NaN,"[259, 186, 155, 186]",NaN,0.0,NaN,0.00,NaN,0.91,NaN,0.03,NaN,0.01,NaN,0.02,NaN

In [30]:
df_mean = data[["angry0",'disgust0','fear0','happy0','neutral0','sad0','surprise0']].mean()

In [31]:
df_mean*100

angry0        9.816143
disgust0      0.004484
fear0         5.677130
happy0       30.376682
neutral0     34.452915
sad0         16.318386
surprise0     3.192825
dtype: float64

In [34]:
a = np.random.rand(7) * 100
a

array([ 6.33694887, 84.56888804, 10.52976398, 25.10614188, 38.58105868,
       45.94476309,  9.85416549])